
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="four" id="about">
    <div class="container text-light" id="">
        <div class="py-5 col-lg-12 col-md-12 col-sm-12 offset-sm-0">
            <p class="display-4">About Us</p>
            <p class="lead">Whether you need a web based solution, native smartphone solution or secure coroporate solutions for desktops, Merge Media will be able to help you at a very affordable price point. Contact us to get a quote and find out more.</p>
            <div class="row hidden-md-down">
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Websites / Web Applications</h5>
                    <p>A website is an essential tool for a business to connect with its client base or even just as a personal project. Whether you want to create a new website for your business or redesign and expand an existing site, we will be able to help you.</p>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Applications</h5>
                    <p>If you have a service based business then a smartphone application may be a very good way for your business to connect with clients. Offering smartphone solutions for Android and iPhone, contact us to get a quote and see how we can help you.
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Desktop Applications</h5>
                    <p>Desktop applications are great solutions for businesses that want to scale up or create secure, robust solutions for their company. We can develop solutions for you for Mac, Linux and Windows. Contact us to find out more.</p>

                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Additional Services</h5>
                    <p>Merge Media also offers additional I.T. Services like S.E.O. or on-site and off-site technical support. Our team has also started research concerning decentralized applications and Machine Learning (artificial intelligence). If there is a solution you need outside of our business scope we can refer you to a business that can provide that service for you.</p>

                </div>

            </div>
        </div>
    </div>
</section>