@{
    ViewData["Title"] = "Contact";
}




<section id="contact">
    <!-- Material form contact -->
    <form method="POST" action="https://formspree.io/kotzecabo@gmail.com" class="container px-5 three mt-5 pb-2 pt-3">

        <p class="display-4 text-center mb-5">Contact Us</p>

        <!-- Material input text -->
        <div class="md-form">

            <label class="h4">Name</label>
            <input type="text" name="Name" id="name" placeholder="Your Name" class="form-control">

        </div>

        <!-- Material input email -->
        <div class="md-form pt-2">
            <label class="h4">Email</label>
            <input type="email" name="Email" id="email" placeholder="Your Email Address" class="form-control">
        </div>

        <!-- Material input subject -->
        <div class="md-form pt-2">
            <label class="h4">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="subject" class="form-control">
        </div>

        <!-- Material textarea message -->
        <div class="md-form pt-2">
            
            <label class="h4">Your message</label>
            <textarea type="text" name="message" id="message" placeholder="Enter message" class="form-control md-textarea" rows="3"></textarea>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-outline-primary" value="Send Message" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
        </div>
    </form>
    <!-- Material form contact -->
</section>

<section id="location">

    <div class="container">
        <p class="display-4 text-light">Find Us</p>
        <p class="lead text-light">39 Pioneer Road, Kloof, Durban</p>
        <div id="map"></div>
    </div>
</section>



<script>

    function initMap() {

        // 29.784781,30.8499393
        var location = { lat: -29.784781, lng: 30.8499393 }
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: location,
            disableDefaultUI: true,
            gestureHandling: 'none',
            zoomControl: false
        });

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Merge Media</h1>' +
            '<div id="bodyContent">' +
            '<p><b>Merge Media</b>, is a software development company based at 39 Pioneer road in Kloof. They provide software solutions to personal and business clients at affordable pricing.</p>' +
            '<a href="https://goo.gl/maps/FWG2y6HdQJG2" target="_blank">Click here to navigate to the destination</a>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map,
            title: "39 Pioneer Road, Kloof."
        });

        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUaprX02-eJatOgKdpO-o41wTXKksonGQ&callback=initMap"></script>