@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="two" id="portfolio">
    <div class="container text-center py-5">
        <h1 class="jumbotron-heading text-light">View Our Demo Sites</h1>
        <p class="lead text-light">View our portfolio of different websites to see which one you like most.</p>
        <a asp-controller="Home" asp-action="Portfolio" target="_blank" class="btn btn-md btn-primary">View Sites</a>
    </div>
</section>

<div class="clearfix">

</div>

<div class="container pb-5">
    <!--Card group-->
    <div class="card-deck">

        <!--Card-->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="img-fluid" src="~/images/screenshots/screenshot1.png" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

        </div>
        <!--Card-->
        <!--Card-->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="img-fluid" src="~/images/screenshots/screenshot2.png" alt="Card image cap">
                <a href="#contact">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

        </div>
        <!--Card-->

    </div>

</div>