@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section class="three" id="hosting">
    <div class="container">

        <h1 class="mb-2">Managed Hosting</h1>
        <p class="lead mb-5">With our managed hosting services, we manage and set up all your business solutions for you. No fuss.</p>

        <div class="row text-center">
            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R99</span></br><small> p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            BASIC PLAN
                        </span>

                        <hr />
                        <p>
                            Good for personal websites or small businesses. Any services expecting low to moderate web traffic. Light computation can be done but is not scalable.
                        </p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 1 TB Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 10 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R299</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            SILVER PLAN
                        </span>
                        <hr />
                        <p>A good solution for small to medium businesses. Or any web service that is expecting reasonable amounts of traffic and light backend computations.</p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 1,5 TB Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 50 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 2 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R599</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            GOLD PLAN
                        </span>

                        <hr />
                        <p>
                            A good solution for medium sized businesses. Or any web services expecting moderate amounts of web traffic and moderate amounts of backend computations.
                        </p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 3 Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 75 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 4 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 2 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>

        </div>


        <div class="pt-5">
            <h1 class="pt-5 pb-3">Managed Cloud Hosting</h1>
            <p class="lead pb-4">Cloud is by far the best solution in our opinion. With cloud, whatever solution you need is scalable, fast, secure and customizable. However, Cloud computing can be quite complicated. Make use of our managed cloud services so that we can take care of all that for you.</p>
        </div>


        <div class="row text-center pt-5">
            <div class="col-sm-12 col-md-6">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R249</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            Microsoft Azure
                        </span>

                        <hr />
                        <p>
                            Merge media makes use of the Microsoft Azure Cloud hosting platform and the Amazon Web Services Cloud hosting platform. Starting at R249 per month, you get a baseline package that provides 1ghzps processing power and 2gb of RAM for your service. If you exceed that amount then you can choose to simply expand the hardware instantly. This is why cloud provides an advantage over other hosting options. You can scale your service on demand, and virtually infinitely.
                        </p>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img class="col-img" src="~/images/frameworks/azure.png" alt="">
            </div>

            <!-- end of the row -->
        </div>


        <!-- Close the container -->

    </div>
</section>
