
@{
    ViewData["Title"] = "Portfolio";
}

<div class="clearfix"></div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Merge Media Site Portfolio</h1>
            <p class="lead text-muted">Here is a collection of some of our demo websites. See if you like anything to help us better help you with your project.</p>
            <p>
                <a href="../" target="_blank" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>
    </section>

    <div class="clearfix"></div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/angled.png" alt="mergemedia.co.za">
                        <div class="card-body">
                            <h2>Angled</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="~/lib/demo/angled/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/aligned.png" alt="mergemedia.co.za">
                        <div class="card-body">
                            <h2>Aligned</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/aligned/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/blogged.png" alt="www.mergemedia.co.za">
                        <div class="card-body">
                            <h2>Blogged</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/blogged/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/dimension.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Dimension</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/dimension/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/directive.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Directive</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/directive/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/embedded.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Embedded</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/embedded/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/grid.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Grid</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/grid/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/landed.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Landed</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/landed/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/phantom.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Phantom</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/phantom/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/photogenic.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Photogenic</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/photogenic/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/images/album/release.png" alt="Card image cap">
                        <div class="card-body">
                            <h2>Release</h2>
                            <p class="card-text">This is a demo website example that can be modified to suit your needs as a Merge Media Client. If you like something about this template we can make use of it for your tailored website.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="demo/release/index.html" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

<div class="clearfix"></div>
